<!DOCTYPE html>
<html>
<head>
    <title>InterestPoint</title>
    <link rel="stylesheet" type="text/css" href="css/foundation.css" media="screen" />
</head>
<body>
<img src="../img/logo2.png"/>


<?php
require_once "db.php";
require_once "models/authModel.php";
require_once "authView.php";

//session_start();

if (isset($_SESSION['userInfo'])){
    echo '<a href="logout.php">Log Out</a></p>';
} //else{
  //  echo '<p class="loginText">Welcome! Please <a class="login" href="index2.php">Login</a><br /><br />', '<a class ="homeText" href="index2.php">Home</a></p>';
//}
?>
</body>
</html>